<html>
	<head>
		<title>{% block head_title %} Tits {% endblock %}</title>
	</head>
	
	<script type="text/javascript">  
  		var time = 1000 * 10; //5 minutes
  		var theTimer = setTimeout("window.location='http://www.google.com'",time);  
	</script> 
	
	<body>
		<div style="text-align: center">
		
		<h1><a href="/" >Home</a></h1>
			
		<h1>Change your password</h1>
		
		{% if notification  %}
			<b>{{ notification }}</b>
		{% endif %}
		
		<form method="POST" action="/account/change_password/">
			{% csrf_token %}
			<input type="password" name="old" placeholder="Old Password" /><br /><br />
			<input type="password" name="new1" placeholder="New Password" /><br /><br />
			<input type="password" name="new2" placeholder="Repeat New Password" /><br /><br />
			<input type="submit" value="Submit" />
		</form>
		</div>
	</body>
	
</html>